@import 'colors';

// === MOBILE FIRST APPROACH === //
.banner-bg {
  background-image: url(https://res.cloudinary.com/dognkye6x/image/upload/v1649156840/newbg_u5kme4.png);
  background-size: cover;
  background-position: center;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin-top: 124px;
}

.social-icons {
  cursor: pointer;
  font-size: 30px;
  color: $light-purple
}

.fa-icon {
  margin-left: 25px;

  &:hover {
    color: $yellow;
  }
}

.avatar {
  background-color: white;
  border: 1px solid $grey;
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 5px 5px 15px 5px $light-purple;
  overflow: hidden;
  object-fit: fill;
}

.avatar img{
  margin: 0px 0px 0px 0px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// .hire-btn {
//   margin-right: 20px;
// }

.social-icons{
  display: flex;
}

// ===> MEDIA QUERIES <=== //


// @media only screen and (max-width: 767px) {

//   .banner-bg{
//     // margin-top: 188px;
//   }
// }

@media only screen and (min-width: 768px) {

  .banner-bg{
    height: 230px;
  }
}

@media only screen and (min-width: 1024px) {


  .banner-bg{
    height: 358px;
  }

}
