@import 'colors';

// === MOBILE FIRST APPROACH === //
.banner-bg {
  background-image: url(https://res.cloudinary.com/dognkye6x/image/upload/v1648325971/banner.bg_xlwncy.png);
  background-size: cover;
  background-position: center;
  height: 200px;
  position: relative;
}

.avatar {
  position: absolute;
  top: 8px;
  left: 85px;
  background-color: white;
  border: 1px solid $grey;
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 5px 5px 15px 5px $light;
  overflow: hidden;
  object-fit: fill;
}

.avatar img{
  margin: 0px 0px 0px 0px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hire-btn {
  color: $font-color;
  padding-top: 150px;
  padding-left: 228px;
}

.btn-main {
  color: $light-purple;
  background-color: $yellow;
  border-radius: 7px;

  &:hover {
    color: $yellow;
    background-color: $light-purple;
  }
}



// ===> MEDIA QUERIES <=== //

@media only screen and (min-width: 375px) {
 .avatar{
   left: 110px;
 }

 .hire-btn {
  padding-left: 278px;
}
}

@media only screen and (min-width: 425px) {
  .avatar{
    left: 135px;
  }

  .hire-btn {
    padding-left: 320px;
  }
 }

 @media only screen and (min-width: 500px) {
  .avatar{
    left: 160px;
  }

  .hire-btn {
    padding-left: 386px;
    padding-top: 140px;
  }
 }

@media only screen and (min-width: 768px) {
  .avatar {
    left: 295px;
  }

  .hire-btn {
    padding-left: 328px;
    padding-top: 175px;
  }

  .banner-bg{
    height: 230px;
  }
}

@media only screen and (min-width: 1024px) {
  .avatar {
    left: 417px;
  }

  .banner-bg{
    height: 300px;
  }

  .hire-btn {
    padding-left: 454px;
    padding-top: 210px;

  }
}

@media only screen and (min-width: 1300px) {
  .avatar {
    top: 30px;
    left: 600px;
  }

  .hire-btn {
    padding-top: 200px;
    padding-left: 636px;
  }
}

