@import 'colors';

.about-avatar {
  margin-right: 35px;
  margin-left: 26px;
}

.avatar-chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

}

.speech {
  background: $light-purple;
  height: 145px;
  width: 288px;
  border-radius: 30px;
  box-shadow: 2px 3px 5px 1px;
  padding: 17px;
  color: white;
  margin-left: 16px;
  margin-top: 25px;
}


.pointer {
  height: 15px;
  width: 15px;
  background: $light-purple;
  margin: 0 auto;
  transform: rotate(45deg);
  border-radius: 0 0 12px 0;
  position: relative;
  left: calc(-3.5vw - -15px);
  top: -150px;
}

.message{
  text-align: justify;
}

.contact-bchat{
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
}

// Media Queries //

@media  screen and (min-width: 768px) {
  .avatar-chat{
    flex-direction: row;
    align-items: center;
  }

  .speech {
    height: 114px;
    width: 425px;
  }

  .pointer {
    left: calc(-3.5vw - 177px);
    top: -81px;
  }

  .contact-bchat {
    flex-direction: row;
  }
}

@media  screen and (min-width: 1000px) {
  .pointer {
    left: calc(-3.5vw - 166px);
    top: -76px;
  }

  .avatar-chat {
    justify-content: start;
  }
}

@media only screen and (min-width: 1300px) {
  .pointer {
    left: calc(-3.5vw - 154px);
  }
}