@import 'colors';
// === Post === //

.card-post-carousel {
  cursor: pointer;
  position: relative;
  width: 275px;
  height: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.post-info-carousel {
  position: absolute;
  bottom: 2px;
  right: 2px;
  padding: 4px;
}

.post-title-carousel {
  color: $light-purple;
  text-shadow: 1px 1px 2px $yellow;
}

.post-description-carousel {
  color: $font-post;
  text-shadow: 1px 1px 3px;
}

.carousel-img {
  width: 100%;
}

.arrow-icon {
  cursor: pointer;
  font-size: 25px;
  color: $light-purple;

  &:hover {
    color: $yellow;
  }
}

// === MEDIA QUERY == //

@media only screen and (min-width: 767px) {

  .card-post-carousel {
    width: 345px;
  }
}
