// Font styles
$font-color: #fff;
$font-post: rgba(0, 0, 0, .7);

// MAIN COLORS
$nav-color: #323150;
$red: #ED475C;
$yellow: #E9D250;
$light-purple: #6868DD;
$grey: #F0EFF5;
$messages: #248bf5;
$light: rgba(187, 184, 184, 0.3);
$alert-bg: rgba(192, 110, 240, 0.3);