@import 'colors';

.contact-form {
  width: 80%;
}

.contact-call-to-action {
  color: $light-purple;
  margin-top: 50px;
}

.form{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 100px;
  background-color: $light-purple;
  color: white;
  padding: 15px;
  border-radius: 7px;
}

.form h1 {
  color: white !important;
}

.info-form {
  display: contents;
  // display: flex;
  // flex-direction: column;
  // align-self: center;
  margin-bottom: 1em;
}

.label-form{
  margin-right: 1em;
  margin-bottom: 1em;
}

.contact-form input {
  width: 100%;
  border: none;
  background-color: $grey;
  border-radius: 10px;
  height: 40px;
  margin-bottom: 1em;
  padding: 10px;
}

.textarea textarea {
  height: 115px;
  padding: 10px;
  width: 100%;
  border: none;
  background-color: $grey;
  border-radius: 10px;
  margin-bottom: 1em;
}


.sendBtn {
  align-self: center;
  color: $light-purple;
  background-color: $yellow !important;
  border-radius: 7px;
  width: 50%;

  &:hover {
    color: $yellow;
    background-color: $nav-color !important;
  }
}


.contact-call-to-action a {
  color: $yellow !important;

  &:hover{
    color: $light-purple !important;
  }
}

.contact-call-to-action h1, h3 {
  color: $light-purple !important;
}

.input-area {
  display: flex;
  flex-direction: column;
}

// == Media Queries == //

@media only screen and (min-width: 767px) {
  .contact-container {
    display: flex;
    align-items: center;
  }
  .contact-form {
    width: 60%;
  }

  .contact-call-to-action {
    margin-top: 60px;
  }

  .form {
    margin-top: 60px;
    margin-bottom: 101px;
  }

  .sendBtn {
    align-self: center;
    width: 40%;
  }

  .btn-area{
    width: 50%;
    display: flex;
    align-self: center;
  }

  .info-form {
    flex-direction: row;
  }
}

@media screen and (min-width: 1024px){
  .form {
    width: 65%;
    margin-right: auto;
    margin-left: 125px;
  }
}