@import 'colors';

.footer {
  background: $nav-color;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 50px;
  color: $font-color;
  height: 50px;
  margin-bottom: 0px;
  margin-top: 50px;
}

.push {
  margin-bottom: 150px;
}

.footer-copyright{
  font-weight: lighter;
}

.footer-copyright p {
  margin-bottom: 0;
}

.footer-links {
  display: none;
}