@import 'colors';

.notificaiton-block {
  display: flex;
  flex-direction: column;
  background-color: rgba(218, 214, 214, 0.3);
  width: 223px !important;
  height: 240px;
  border-radius: 10px;
  margin-top: 25px;
  padding-bottom: 10px;
  box-shadow: 1px 1px 1px 1px;
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.notification-background {
  background-image: url('https://res.cloudinary.com/dognkye6x/image/upload/v1648764656/Animation-01_rrxavb.gif');
  height: 100px;
  width: 100%;
  background-color: #EDEDEE;
  background-repeat: no-repeat;
  background-size: auto 100%;
  overflow: hidden;
}

.notification-btn {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.notification-description {
  font-size: 11px !important;
  font-weight: 300 !important;
}

.decline-btn {
  border-right: 1px solid rgba(218, 214, 214, 0.6);
  width: 41%;
  &:hover {
    color: $red !important;
  }
}

.accept-btn {
  font-weight: 600 !important;
  &:hover {
    color: $messages !important;
  }
}

// Media Queries //

@media  screen and (min-width: 1000px) {
  .card-bubble {
    display: flex;
    position: relative;
  }

  .notificaiton-block {
    position: absolute;
    right: 55px;
  }
}

@media only screen and (min-width: 1300px) {
  .notificaiton-block {
    right: 165px;
  }
}