@import 'colors';

.btn-main {
  background-color: $btn !important;
  color: white !important;
  border-radius: 7px;

  &:hover {
    background-color: $light-purple !important;
    color: white !important;
  }
}