@import 'colors';

.btn-main {
  color: $light-purple !important;
  background-color: $yellow !important;
  border-radius: 7px;

  &:hover {
    color: $yellow !important;
    background-color: $light-purple !important;
  }
}