@import 'colors';

// === MOBILE FIRST APPROACH === //

.nav {
  background-color: $nav-color;
  color: $font-color;
}

.nav-opacity {
  background-color: $nav-color;
  color: $font-color;
  opacity: 0.3;
}

.nav-items {
  display: flex;
  justify-content: space-between;
}

.name,
.nav-items{
  padding: 5px;
  margin: 15px;
}

.home,
.blog,
.contact {
  cursor: pointer;
  color: $grey;

  &:hover {
    color: $yellow;
  }
}

.nav-img {
  height: 85px;
}

// ===> MEDIA QUERIES <=== //

@media only screen and (min-width: 320px) {
  .nav {
    display: flex;
    flex-direction: column;

  }
}

@media only screen and (min-width: 763px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  .home,
  .blog,
  .contact {
    margin-right: 25px;
  }
}