@import 'colors';

.goUpBtn {
  display: flex;
  justify-content: end;
}

.backToTop-btn {
  opacity: 80;
  margin-bottom: 60px;
  margin-right: 45px;

  &:hover {
    color: $light-purple;
  }
}

.atTheTop {
  opacity: 0;
}
