@import 'colors';
@import 'media-queries';
@import 'nav';
@import 'banner';
@import 'about';
@import 'main-btn';
@import 'footer';
@import 'carousel';
@import 'contact';
@import 'portfolio';
@import 'shards-dashboards.1.1.0.min.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  color: $light-purple !important;
}